body {
  background-color: rgb(77, 255, 121);
}

.form-content {
  background-color: #fff;
  display: inline-block;
}

.form-list {
  margin: 0;
  padding: 40px;
  list-style: none;

  .list-content {
    &:first-child, &:nth-child(2) {
      input {
        background-color: rgb(223, 223, 223);
      }
    }
    &:nth-child(3) button {
      background-color: rgb(36, 255, 91);
    }
  }
}