// i {
//   width: 100px;
//   height: 100px;
//   color: black;
// }

a{
  display: block;
  text-decoration: none;
}

.btn{
  border: 1px solid #1a0dab;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 24px;
  transition: .4s;
}

.twitter {
  color: skyblue;
  &:hover {
    color: white;
  }
}

.btn:hover{
  color: #fff;
  background: #5bc8ac;
  transition: .4s;
}